{% extends "HumanpracticesLayout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}



<div class="row mt-4">
  <div class="col-lg-12 practices-container">
    <h2>Human Practices</h2>
    <hr>
    <h4>Introduction</h4>
    <p>When browsing through photos of oil-covered beaches, birds, and other marine wildlife, it is evident that oil-spills are environmental disasters. What is not reflected in those photos, however, is the extensive and wide-spread effect an incident can have on human life. Because both the cause and result of oil-spills involve humans, actively reflecting on how our eco-friendly oil sorbent interacts with the world is an integral part of our project.</p>
    <p>Though we were aware of the importance of human practices, we had no idea of the ways and depth that these activities had on the direction and execution of our project. As can be seen below in a loose summary of our human practice initiatives, our activities have led to both expected and unexpected consequences for our project, all of which have </p>
    <h4>Taean Oil Spill Memorial</h4>
    <p>In order to appreciate the human cause and pain of oil spills, we started our human practice activities with a visit to the Taean District oil spill memorial. The 2007 oil spill remains the largest oil spill in Korean history, with an estimated 10,500 tons of crude oil spilled into the waters surrounding Mallipo beach.</p>
    <p>What was immediately noticeable from our visit was both the scale and wide spectrum of damage inflicted on communities surrounding the area. Apart from the obvious damage on the local economy and environment, we could appreciate the plethora of psychological and medical problems that local communities suffered from. Given the lack of proper personal protective equipment (PPE) and emergency supplies of oil sorbents, local fishermen, volunteers, and the mobilized Korean army had to resort to labor intensive clean-up methods and reusing unwashed PPE.</p>
    <div class="human-practices-images">

      <img src="../../static/hp1.JPG" alt="">
      <img src="../../static/hp2.JPG" alt="">
    </div>
    <p>What was surprising from our visit was just how grassroots the response to a national crisis really was, which reemphasized the need for an effective set of response tools, one of which our product could be used for. Visiting the past through the various perspectives of officials, responders, and local populations made clear the importance of not only making an effective tool, but one that is accessible to all and easy to apply. Our team has tried to reflect this value in all decisions that we have made involving the manufacture, sale, and application of PineSorb.</p>
    <h4>Korea Ocean Expo 2022 (Songdo, Incheon)</h4>
    <p>Given the entrepreneurial focus of PineSorb, our eco-friendly oil sorbent, a natural step was to try and meet our stakeholders and primary customers. For us, this turned up in the form of the Korea Ocean Expo, an international expo attended by businesses and figures in the marine and maritime safety industry.</p>
    <img src="../../static/hp3.png" alt="">
  </div>

</div>

{% endblock %}
