{% extends "TeamLayout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}

<div class="row team-container">
  <h2>Team Members</h2>
    <div class="card mb-3" style="max-width: 100vw;">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="../../static/해리_최종.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">Hyunwoo (Harry) Son</h5>
          <h6 class="card-role text-red"style="color: green;">Role</h6>
          <p class="card-text">Team Leader, Outreach Leader, Collaboration Leader, Safety and Security Member, Human Practices member, Inclusivity member, Entrepreneurship member, and Education member</p>
          <h6 class="card-description"style="color: green;">Description</h6>
          <p class="card-text">Hi, I am Harry Son, currently attending Seoul Foreign School in South Korea as a Junior. To share some of my personal interests, I love art, mathematics, business, investments/finance, coding, etc. I am honored to be part of team Seoul Korea for IGEM as it is a rare experience for many other high school students. Through the IGEM competition, I look to achieve important skills required in life: teamwork, critical thinking, media literacy skills, and more. I am the leader of the team and am in the subgroups Team Outreach, Entrepreneurship, Human Practices, Education, Inclusivity, and Safety & Security. I will make every effort for a pleasing result in the 2022 IGEM competition.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100vw;">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="../../static/헨리_최종.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">Henry Lee</h5>
          <h6 class="card-role text-red"style="color: green;">Role</h6>
          <p class="card-text">Team Leader,
            Safety and Security Leader, Human Practice Member, Collaboration member, Inclusivity member, Education member, and Entreprneurship member
            </p>
          <h6 class="card-description"style="color: green;">Description</h6>
          <p class="card-text">Hi, I am attending Chadwick International School in Korea as a freshman. My interests are Astronomy, Biology, Math, Art, and sports. I am excited to participate in IGEM 2022 and look forward to having many fun moments throughout the competition. I will do my best to support our team and win some prizes!

          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100vw;">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="../../static/재이_최종.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">Jay Choe</h5>
          <h6 class="card-role text-red"style="color: green;">Role</h6>
          <p class="card-text">SDG Leader, and Education member</p>
          <h6 class="card-description"style="color: green;">Description</h6>
          <p class="card-text">Hi, I’m Jay, and I am currently attending Seoul International School as a sophomore. I have various interests spanning from biology to finance, as well as literature. At the 2022 IGEM, I am in charge of education and sustainable development goals. I will continue to strive toward a good result for the Seoul_Korea team.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100vw;">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="../../static/태형_최종.jpg" class="card-img" alt="...">
      </div>
      <div class="col-10">
        <div class="card-body">
          <h5 class="card-title">Taehyung Kim</h5>
          <h6 class="card-role text-red"style="color: green;">Role</h6>
          <p class="card-text">Entrepreneurship Leader, and Human Practices Member</p>
          <h6 class="card-description"style="color: green;">Description</h6>
          <p class="card-text">Hi, my name is Taehyung Kim and I am a senior in Westtown School. My interests are business, architecture, math, and music. Through this competition, I hope to explore the world of synthetic biology that I am unfamiliar with and will do my best to help my team achieve our goals for this year. In Seoul_Korea, I am in charge of human practices, entrepreneurship, and education.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100vw;">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="../../static/정우_최종.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">Kaden Lee</h5>
          <h6 class="card-role text-red"style="color: green;">Role</h6>
          <p class="card-text">Inclusivity Member, and Safety and Security Member</p>
          <h6 class="card-description"style="color: green;">Description</h6>
          <p class="card-text">Hi, my name is Kaden Lee and I am a sophomore in Seoul International School. I am interested in many different subjects such as chemistry, physics, and math. At IGEM 2022, I am in charge of the inclusivity section. Although I am not well experienced with synthetic biology, I am grateful to be a part of our team and expand my learning field.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100vw;">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="../../static/민경_최종.jpg" class="card-img" alt="...">
      </div>
      <div class="col-10">
        <div class="card-body">
          <h5 class="card-title">Minkyung Kim</h5>
          <h6 class="card-role text-red"style="color: green;">Role</h6>
          <p class="card-text">Inclusivity member, and Education member</p>
          <h6 class="card-description"style="color: green;">Description</h6>
          <p class="card-text">My name is Katie, and I am a sophomore in BCC. I have a fervent interest in math, biology, and psychology. I am in charge of Inclusivity in our team. Through this IGEM competition this year, I hope to acquire important skills such as business, presentation, and education. I will do my best to bring about great results to our team.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100vw;">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="../../static/은석_최종.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">Eunseok Choi</h5>
          <h6 class="card-role text-red"style="color: green;">Role</h6>
          <p class="card-text">Human Practices member, Education member, Inclusivity member, and Entrepreneurship member</p>
          <h6 class="card-description"style="color: green;">Description</h6>
          <p class="card-text">I am attending Saint Paul Preparatory Seoul as a junior. My interests are Biology, Business, and Agriculture. Through iGEM, I am increasing my understanding of synthetic biology and developing collaborations between groups. At the 2022 IGEM, I am in charge of Human Practices, Education, and Inclusivity. I will work hard to help my team rise to a good position.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100vw;">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="../../static/지윤_최종.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">Ewan Huh</h5>
          <h6 class="card-role text-red"style="color: green;">Role</h6>
          <p class="card-text">SDG Member</p>
          <h6 class="card-description"style="color: green;">Description</h6>
          <p class="card-text">Hi, I am Ewan Huh, attending Seoul International School as a Senior. My interests are chemistry and environmental science, and I am excited for my experience in iGEM this year.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100vw;">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="../../static/성원_Final.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">Sungwon Hur</h5>
          <h6 class="card-role text-red"style="color: green;">Role</h6>
          <p class="card-text">Education member</p>
          <h6 class="card-description"style="color: green;">Description</h6>
          <p class="card-text">I am a junior attending Daegu International School. My interests range from chemistry and biology to music and art. Through this IGEM 2022 competition, I look forward to obtaining a variety of skills such as entrepreneurship, research, and presentation. In our Seoul_Korea team, I am in charge of education.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100vw;">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="../../static/수연.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">Rachel Lee</h5>
          <h6 class="card-role text-red"style="color: green;">Role</h6>
          <p class="card-text">Education Leader, and Human Practices Member</p>
          <h6 class="card-description"style="color: green;">Description</h6>
          <p class="card-text">Hello, my name is Rachel Lee and I am a senior at Branksome Hall Canada. Some of the subjects I am passionate about are biology, chemistry, and economics. At IGEM 2022, I am in charge of education and human practices. Through this great opportunity to gain experience in my interested field, I am grateful to work with such hard-working, competent teammates and I hope our team brings back remarkable accomplishments.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100vw;">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="../../static/호연_Final.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">Spencer Kim</h5>
          <h6 class="card-role text-red"style="color: green;">Role</h6>
          <p class="card-text">Inclusivity Leader</p>
          <h6 class="card-description"style="color: green;">Description</h6>
          <p class="card-text">Hello, my name is Spencer Kim and I am a senior attending Northview High School. My subjects of interest are engineering, physics, chemistry, and math. I have interests in engineering related to human bodies and material science. At the 2022 IGEM, I am in charge of Inclusivity and I am looking toward having good results.</p>
        </div>
      </div>
    </div>
  </div>
<div> <h2> Supervisors</h2></div>
<div class="card mb-3" style="max-width: 100vw;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="../../static/서연_Final.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">Seoyun Park</h5>
        <h6 class="card-role text-red"style="color: green;">Role</h6>
        <p class="card-text">Team Leader, Outreach Leader, Collaboration Leader, Safety and Security Member, Human Practices member, Inclusivity member, Entrepreneurship member, and Education member</p>
        <h6 class="card-description"style="color: green;">Description</h6>
        <p class="card-text">Hi, I am Harry Son, currently attending Seoul Foreign School in South Korea as a Junior. To share some of my personal interests, I love art, mathematics, business, investments/finance, coding, etc. I am honored to be part of team Seoul Korea for IGEM as it is a rare experience for many other high school students. Through the IGEM competition, I look to achieve important skills required in life: teamwork, critical thinking, media literacy skills, and more. I am the leader of the team and am in the subgroups Team Outreach, Entrepreneurship, Human Practices, Education, Inclusivity, and Safety & Security. I will make every effort for a pleasing result in the 2022 IGEM competition.</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 100vw;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="../../static/재인_Final.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">Jane Lee</h5>
        <h6 class="card-role text-red"style="color: green;">Role</h6>
        <p class="card-text">SDG supervisor, Communications supervisor, and Collaboration supervisor</p>
        <h6 class="card-description"style="color: green;">Description</h6>
        <p class="card-text">Hi, I’m Jane, one of the instructors/supervisors for the Seoul Korea team. I have just graduated from Yonsei University as a political science and international relations major at Underwood International College. My interests are in technology and I am currently working at a multinational tech company. I am excited to see how team Seoul Korea performs at the coming IGEM event and how other teams will present as their own project.</p>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
